@import "tailwindcss";
@plugin "daisyui/index.js";

@theme {
  --color-primary: #00685F;
  --color-primary-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-heading: #00685F;

}


@layer base {

  :root {
    color-scheme: light !important;
    --color-primary: #00685F;
    --color-base-100: #ffffff;
    --color-base-200: #f8fafc;
    --color-heading: #00685F;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: light !important;
      --color-base-100: #ffffff !important;
      --color-base-200: #f8fafc !important;
      --color-primary: #00685F !important;
      --color-heading: #00685F !important;
    }

    body {
      background-color: #ffffff !important;
      color: #475569 !important;
    }
  }

  body {
    @apply bg-base-100 text-slate-600 min-h-screen font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading font-bold;
  }
}